<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/javaStudy/workspace_front/mysite/assets/css/main.css">
<link rel="stylesheet" href="/javaStudy/workspace_front/mysite/assets/css/board.css">
</head>
<body>
<div id="wrap">
	<div id="header" class="clearfix">
		<h1>Mysite</h1>
		<ul class="clearfix">
			<li><a href="">로그인</a></li>
			<li><a href="">회원가입</a></li>
		</ul>
	</div>
	<!-- header -->

	<div id="nav" class="clearfix">
		<ul>
			<li>입사지원서</li>
			<li>게시판</li>
			<li>갤러리</li>
			<li>방명록</li>
		</ul>	
	</div>
	<!-- nav -->
	
	<div id="contents" class="clearfix">
		<div id="aside">
			<h2>게시판</h2>
				<ul>
					<li>일반 게시판</li>
					<li>댓글 게시판</li>
					<li>첨부 게시판</li>
				</ul>
		
		</div>
		<!-- 게시판 -->
		
		<div id="main-content">
			<div id="main-content-header" class="clearfix">
			<h3>일반게시판</h3>
				<ol id="main-list">
					<li>홈</li>
					<li>게시판</li>
					<li>일반게시판</li>
				</ol>
			</div>
			
			
			
			<div class="button-r">
				<input type="text"><button class="button">검색</button>
			</div>
			
			
				<table id="t-border">
					<colgroup>
						<col style="width: 10%;">
						<col style="width: 30%;">
						<col style="width: 15%;">
						<col style="width: 15%;">
						<col style="width: 15%;">
						<col style="width: 15%;">
					</colgroup>
					<thead>
						<tr>
							<th>번호</th>
							<th>제목</th>
							<th>글쓴이</th>
							<th>조회수</th>
							<th>작성일</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>aaaa</td>
							<td>bbbbbbbbbb</td>
							<td>cccccc</td>
							<td>dddddd</td>
							<td>dddddd</td>
							<td>삭제</td>
						</tr>
						<tr>
							<td>aaaa</td>
							<td>bbbbbbbbbb</td>
							<td>cccccc</td>
							<td>dddddd</td>
							<td>dddddd</td>
							<td>삭제</td>
						</tr>
						<tr>
							<td>aaaa</td>
							<td>bbbbbbbbbb</td>
							<td>cccccc</td>
							<td>dddddd</td>
							<td>dddddd</td>
							<td>삭제</td>
						</tr>
						<tr>
							<td>aaaa</td>
							<td>bbbbbbbbbb</td>
							<td>cccccc</td>
							<td>dddddd</td>
							<td>dddddd</td>
							<td>삭제</td>
						</tr>
						<tr>
							<td>aaaa</td>
							<td>bbbbbbbbbb</td>
							<td>cccccc</td>
							<td>dddddd</td>
							<td>dddddd</td>
							<td>삭제</td>
						</tr>
					</tbody>
				</table>
				
			<div id="number">
				<a href="">◀</a>
				<a href="">1</a>
				<a href="">2</a>
				<a href="">3</a>
				<a href="">4</a>
				<a href="">5</a>
				<a href="">6</a>
				<a href="">7</a>
				<a href="">8</a>
				<a href="">9</a>
				<a href="">10</a>
				<a href="">▶</a>
				<button>글쓰기</button>
			</div>
			
		</div>
		</div>
	<!-- contents -->
	
	<div id="footer">
		Copyright ⓒ 2020 황일영.All right reserved
	</div>
	<!-- footer -->
</div>
</body>
</html>